<div fxLayout="column" fxLayoutGap="10px" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">Document</h1>
  </div>

  <div fxFlex class="not-float">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quod beatae incidunt corrupti blanditiis reprehenderit repellat, sit
    labore nemo voluptate explicabo architecto consequuntur illum id modi eum aspernatur? Architecto, soluta! Fugit odit similique
    doloribus? Sapiente placeat necessitatibus animi aut explicabo quae minus laudantium dignissimos, beatae inventore consequatur officia
    maxime eligendi quia impedit veniam praesentium quas. Ratione quo facere corrupti soluta. Excepturi quas cum atque. Impedit eum
    architecto nobis aliquam fuga suscipit quia iusto nihil? A aspernatur reprehenderit dolorum molestias, iure ipsum illo harum sunt!
    Vitae, aliquam expedita. Fugiat, obcaecati optio? Consequuntur voluptates dolores, rerum vel ipsam id modi beatae ipsa eveniet, et ut!
    At soluta autem excepturi maxime voluptas, laborum, mollitia similique expedita consequuntur, tempora optio nam minima inventore
    explicabo? Ipsa nisi labore recusandae vel vitae alias, doloribus possimus dolorum aliquam earum nam, assumenda adipisci optio dicta
    tempore odio. Odio, ipsam corrupti. Pariatur ut odit sint repellat cumque, molestiae expedita? Maiores eaque nemo labore. Officia
    inventore temporibus voluptatem libero aspernatur nulla expedita hic modi, ipsam consequatur nam voluptate cupiditate rerum cum unde
    recusandae earum atque molestiae. Officiis maxime aspernatur laboriosam! Veniam reprehenderit earum error voluptatum ea, beatae
    dignissimos ut assumenda necessitatibus cupiditate nobis molestias est quam eius, numquam totam eos consequatur! Ipsa voluptates illo
    libero eveniet, quod quia vitae expedita. Placeat id, facere, voluptatum reiciendis, accusantium dignissimos deleniti ut magni adipisci
    culpa beatae velit tenetur suscipit quis eveniet atque amet! Itaque sequi minima quia quis assumenda expedita eum eius perferendis.
    Totam, neque vitae est error fuga temporibus ratione harum saepe repellendus nisi provident aspernatur, soluta voluptatum debitis
    excepturi? Illum ut, velit blanditiis aut neque voluptatum doloremque est fugiat tempore officia. Ducimus cumque accusamus quas
    architecto, voluptatibus aliquam fuga perspiciatis dolores sequi culpa facilis vero ut totam placeat velit repellendus ratione quod
    soluta vel consectetur nesciunt nihil neque cupiditate? Quod, repellat. Sunt, dicta sequi hic nostrum soluta dolores quas eum quos quod
    iste, quis, porro voluptates quibusdam corporis explicabo! Iste beatae perspiciatis quisquam nemo. Pariatur quae eaque dolorem iure
    soluta. Saepe. Sit dignissimos culpa perferendis facilis error debitis dolorum aperiam ab reiciendis quo ullam cumque incidunt numquam,
    sequi porro distinctio repellendus nobis. Eius minima vero odit magnam cum minus aperiam placeat! Explicabo, ipsa cum a illo iure
    incidunt, earum ipsum nostrum nihil doloribus, quo consequuntur suscipit pariatur accusamus dolore beatae dolorum magnam autem modi
    aperiam? Voluptatibus tenetur harum impedit! Ullam, vitae. Voluptas, illum omnis! Ullam consectetur voluptates, magnam pariatur a et
    ratione distinctio cupiditate, porro natus placeat eveniet error adipisci eaque dolorem quisquam recusandae assumenda fuga harum.
    Repellat incidunt ratione a. Corrupti harum consequatur delectus et exercitationem unde ut, aspernatur illo, numquam mollitia dolor
    repellendus molestias dolores commodi? Impedit nihil obcaecati, iure numquam enim, natus error aspernatur molestiae, ea quasi
    voluptatum. Facere saepe iusto blanditiis iure, distinctio assumenda expedita cum voluptatum quia sapiente enim veritatis ea delectus
    molestiae necessitatibus aliquam ad tempora totam, earum itaque ducimus quos vitae doloribus magnam? Ipsa? Distinctio repellat rem in
    illo praesentium laudantium tempore. At corporis sequi illo ullam? Nisi aut consectetur deleniti ea, nostrum illo veniam qui sed fugit
    esse perferendis sequi laboriosam, quia impedit! Harum doloremque quisquam illo quibusdam. Repellendus, vero impedit, rerum fugiat,
    facere aliquid numquam accusantium magni voluptatum blanditiis veniam. Repellendus, aut ex. Architecto vero sequi voluptatibus dolores!
    Tempora est quas nulla. Blanditiis maxime consequuntur recusandae cum mollitia, quis modi inventore alias in asperiores et animi ducimus
    excepturi libero reiciendis officiis, veniam quod saepe amet tempore. Fugiat commodi blanditiis quo magni fuga! Est suscipit placeat
    quis, voluptates incidunt veniam ipsum ullam? Vitae ab sint optio sequi a iste vero enim delectus cumque, aperiam neque exercitationem
    placeat est adipisci repellendus officiis beatae cupiditate. Enim autem placeat aliquid earum, commodi libero vero odit, neque assumenda
    ducimus quidem, molestias officiis iure nisi non delectus! Explicabo illo dicta asperiores inventore rerum necessitatibus iure ipsam
    optio eius. Nisi laboriosam sequi, totam tenetur accusantium corporis sapiente hic natus voluptate neque mollitia incidunt impedit quas
    error autem debitis dicta vel quaerat molestias omnis animi quo a aspernatur ea. Ex. Accusamus, consequuntur iusto ipsam dolorem dolore
    odio error necessitatibus quod blanditiis eius laudantium inventore id maiores aspernatur culpa sed eos tenetur sint sit perspiciatis?
    Provident beatae soluta iusto saepe libero. Perspiciatis tenetur blanditiis ad porro consectetur dignissimos eum similique sapiente
    voluptas magnam ab, omnis enim harum, soluta fugit quo at provident alias nulla, velit consequuntur facilis nemo animi. Consequatur,
    asperiores. Velit optio accusamus quaerat recusandae qui sapiente in, laboriosam quae, voluptates impedit ipsa dignissimos quas iusto
    dolorum dolores accusantium blanditiis sint natus. Similique quo fuga fugit non quibusdam facere reiciendis? A dolores voluptatem nihil
    ducimus laudantium architecto officia at, quo cum similique provident itaque sapiente aperiam ut. Laborum, rem. Qui eligendi optio fugit
    quasi inventore molestiae in voluptate esse cumque. Molestias modi reprehenderit totam aperiam expedita enim, consequatur, ullam dolores
    itaque assumenda adipisci laborum distinctio porro veritatis eius provident vitae, illum alias. Enim sed fugiat ex quis dicta!
    Reiciendis, mollitia. Neque repellendus illum eveniet quam ratione soluta, rerum architecto cumque in consequuntur deserunt tempora
    assumenda veniam perspiciatis autem facere dolor qui cupiditate nam, at suscipit unde. Consequuntur temporibus facere minima. Quaerat
    magnam provident incidunt magni fugit animi voluptates ea at quod eius dicta ipsa, laborum illum, reprehenderit quasi. Officiis incidunt
    laudantium eligendi accusantium molestiae cupiditate ad? Sapiente quae iusto minus! Vel quidem dolore sunt fugiat, corrupti quas dicta
    delectus harum animi omnis architecto nesciunt. Cupiditate nemo tenetur, amet facere minus dolore iusto distinctio iure veniam labore
    incidunt eum pariatur qui!
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
