/* .mat-card:hover {
  border-top: 2px solid #673ab7;
} */
.mat-card-title {
  display: inline;
  margin-left: -17px;
  font-size: 20px;
  font-weight: bold;
  color: #f44336;
}
table {
  width: 80%;
  /* text-align: center; */
}
img {
  width: 350px;
}
.zm {
  width: 90%;
  margin-left: 5%;
  text-align: center;
}
.evi_func {
  width: 60%;
}
.df {
  width: 95%;
  text-align: center;
}

.thx {
  width: 250px;
  margin-left: 30px;
  text-align: center;
}

.immunetable {
  width: 50%;
}
