<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="pred">info</mat-icon>Click here for the detailed description of methods and results.
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        The Immune infiltration & mRNA expression module is used to estimate the association between gene mRNA expression and immune cells’
        infiltrates through Spearman correlation analysis. The infiltrates of 24 immune cells were evaluated through
        <a href="http://bioinfo.life.hust.edu.cn/ImmuCellAI/#!/" target="_blank">ImmuCellAI</a>
      </p>
      <p>
        The estimates the abundance of 24 immune cell types were based on gene set signature (Document).
        <span class="phighlight"
          >Please avoid an overlap between input genes and the signature used to estimate the immune cell infiltrate</span
        >.
      </p>

      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including table and figure.</p>

      <ul>
        <li>Table:</li>
        <p>GSCA presents detailed information about Cancer type, Gene symbol, Cell type, Correlation and FDR.</p>
        <p>
          Cell type: the immune cell type, including Dendritic cell, B cell and et al, please find the detailed information on
          <a href="http://bioinfo.life.hust.edu.cn/GSCA/#/document">document</a>
        </p>
        <p>
          Correlation: the Spearman correlation coefficient between specific gene mRNA expression and specific immune cell’s infiltrate.
        </p>
        <p>FDR: the false discovery rate.</p>
        <li>GSCA provides result figures, including:</li>
        <ul>
          <li>Bubble plot :</li>
          <p>
            By clicking the cancer type button, GSCA will give you a bubble plot presents the summary of the correlation between inputted
            genes’ mRNA expression and 24 immune cell types infiltrates in selected cancer. Bubble size are correlate with FDR significance.
            Black outline border indicates FDR ≤ 0.05.
          </p>

          <li>Scatter plot:</li>
          <p>
            By clicking gene symbol buttons in tables, users can get the detailed result of single gene's mRNA expression correlated with
            specific immune cell infiltrate through scatter plot, with fitting line.
          </p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
