/* You can add global styles to this file, and also import other style files */

/* for material themes */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

/* material font-face */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/style/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: 'liga'; */
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

h1.page-header {
  margin: 10px 0px;
  border-bottom: 0.5px solid #6400b2;
  font-weight: bolder;
}
h2.page-subheader {
  margin: 10px 0px;
  border-bottom: 0.5px solid #b8c3f1;
  font-weight: bolder;
}

.mat-header-cell {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.mat-tab-label {
  font-weight: bold;
  font-size: 16px;
  color: #560395;
}

a {
  text-decoration: none;
  color: #6400b2;
}

.not-float {
  min-height: fit-content;
}

dt::after {
  content: ': ';
}

dl {
  display: flex;
  flex-flow: row wrap;
  font-size: medium;
}
dt {
  flex-basis: 20%;
  padding: 2px 10px;
  text-align: right;
  font-weight: bolder;
  font-size: medium;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 10px;
}

mat-card table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}

mat-card img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
