<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Click here for the detailed description of methods and results </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        The expression and subtype analysis is used to find subtype relevant genes. For this function, GSCA used 11 cancer types (HNSC,
        LUSC, COAD, STAD, LUAD, GBM, BRCA, UCEC, KIRC, READ, BLCA) clinical data from tumor samples. mRNA expression and clinical subtype
        data were merged by sample barcode. The number of subgroup of subtype must have at least 5 samples. The method used in this analysis
        depends on the number of subgroup in subtype with Student T test (n of subtype groups == 2) and ANOVA test (n of subtype groups >
        2).
      </p>

      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including table and figure.</p>

      <ul>
        <li>The result table:</li>
        <p>Presents detailed information about Cancer type, Gene symbol, P value and FDR.</p>

        <li>GSCA provides result figures including:</li>
        <ul>
          <li>Bubble plot:</li>
          <p>
            Presents the FDR though bubble color and size. The row is the gene set symbol and column is the selected cancer types. The
            bubble color from white to red represents the significance of FDR, bubble size is positively correlate with the significance.
            Black outline border indicates FDR < 0.05.
          </p>

          <li>Box plot:</li>
          <p>By clicking buttons in table result, GSCA gives boxplot to compare the gene expression between subtypes of specific cancer.</p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
