<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="pred">info</mat-icon>Click here for a detailed description of the methods and results.
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        The expression and subtype analysis is used to find subtype relevant changes of gene expression. For this function, GSCA used
        clinical data of tumor samples from 9 cancer types (HNSC, LUSC, COAD, STAD, LUAD, GBM, BRCA, KIRC, BLCA). mRNA expression and
        clinical subtype data were merged by sample barcode. The subtype subgroup must have at least 5 samples. GSCA compared the GSVA score
        among groups through <span class="phighlight">Wilcoxon test (number of subtype groups == 2)</span> and
        <span class="phighlight">ANOVA test (number of subtype groups > 2)</span>.
      </p>
      <p>Subtypes indicates molecular subtypes, if available, else indicates clustering subtypes.</p>

      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including tables and figures.</p>

      <ul>
        <li>Table:</li>
        <p>The table presents detailed information about Cancer type, Gene symbol, P value and FDR.</p>

        <li>GSCA provides result figure, including:</li>
        <ul>
          <li>Bubble plot:</li>
          <p>
            This plot presents the FDR through bubble color and size. The row is the gene set symbol and the column is the selected cancer
            types. The bubble color from white to red represents the significance of FDR; the bubble size is positively correlate with the
            significance. Black outline border of bubbles indicate FDR ≤ 0.05.
          </p>

          <li>Box plot:</li>
          <p>
            By clicking any one button in the table, GSCA would show a boxplot for the gene expression between subtypes of specific cancer.
          </p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
