<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Click here for the detailed description of methods and results </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        For expression and survival analysis, GSCA used 33 cancer types clinical data from tumor samples, some uncensored data was left out.
        Merging mRNA expression and clinical survival data by sample barcode, <span class="phighlight">median mRNA value </span>was used to
        divide tumor samples into high and low expression groups. Then, we use R package survival to fit survival time and survival status
        within two groups. Cox Proportional-Hazards model and Logrank tests were performed for every gene in every cancer.
      </p>

      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including table and figure.</p>
      <ul>
        <li>The result table:</li>
        <p>
          Presents detailed information about Cancer type, Gene symbol, Survival type, Hazard Ratio, Cox P value, Logrank P value, Higher
          risk of death. Survival type including OS and PFS.
        </p>
        <p>
          Column ‘Higher risk of death’ indicates the group with higher risk of death. When the
          <span class="phighlight">Hazard ratio</span> of Higer expr. group compared with low Lower expr. group is
          <span class="phighlight">greather than 1</span>, we think Higer expr. group has higher risk of death, else Lower expr. group has
          higher risk of death. Of cource you can judge it according to other standards. When "Not applicable" presents in column ‘Higher
          risk of death’, there is no survival result.
        </p>

        <li>GSCA provides result figures including:</li>
        <ul>
          <li>Bubble plot:</li>
          <p>
            Presents the Hazard ratio and Cox p value though bubble color and size. The row is the gene set symbol and column is the
            selected cancer types. The bubble color from blue to red represents the hazard ratio from low to high, bubble size is positively
            correlate with the Cox P value significance. Black outline border indicates Cox P value ≤ 0.05.
          </p>

          <li>Kaplan-Meier curves:</li>
          <p>
            By clicking buttons in table result, GSCA draws Kaplan-Meier curves between high and low expression of specific gene in specific
            cancer. The genes with Kaplan-Meier Logrank test p-value less than 0.05 would be retained and gathered into final figure.
          </p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
