<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="pred">info</mat-icon>Click here for the detailed description of methods and results
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        For GSVA and Survival analysis, GSCA estimates the association between GSVA score and survival (includes OS, PFS, DSS, and DFI).
        GSCA used clinical data of tumor samples from 33 cancer types.
      </p>
      <p>
        Uncensored data was left out. Samples that have <span class="phighlight">competing risk</span> for death from cancer were filtered
        out (for DSS and DFI data).
      </p>
      <p>
        GSVA score and clinical survival data were merged by sample barcode, median GSVA score was used to divide tumor samples into high
        and low GSVA score groups. Then, R package
        <span class="phighlight">survival</span> was used to fit survival time and survival status of two groups.
        <span class="phighlight">Cox Proportional-Hazards</span> model and <span class="phighlight">Logrank tests</span> were performed.
      </p>
      <p>
        GSVA score represents the variation of gene set activity over a specific cancer’s sample population in an unsupervised manner, which
        was calculated through R package
        <a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-7" target="_blank">GSVA.</a>
        Briefly,
        <span class="phighlight"
          >the GSVA score represents the integrated level of the expression of gene set, which is positively correlate with gene
          expression</span
        >.
      </p>
      <p><span class="phighlight">There are some suggestions for survival analysis:</span></p>
      <ul>
        <li class="lilight">Data availability</li>
        <p>
          The OS data are available for all cancer types.<br />
          The PFS data are not available for LAML.<br />
          The DSS data are not available for LAML.<br />
          The DFI data are not available for LAML, SKCM, THYM, and UVM.
        </p>
        <li class="lilight">
          Attention for using the endpoints of OS, PFI, DFI, and DSS (<a
            href="https://www.cell.com/cell/abstract/S0092-8674(18)30229-0"
            target="_blank"
            >Liu et al, Cell, 2018</a
          >).
        </li>
        <p>
          ACC: number of events is small; <br />
          BRCA: need a longer follow-up for OS and DSS; <br />
          CHOL: sample size is too small for OS, DSS, DFI, and PFI; <br />
          DLBC: sample size and number of events are too small, need a longer follow-up; <br />
          GBM: number of disease-free cases is small;<br />
          KICH: number of events is too small, need a longer follow-up; <br />
          KIRC: number of events is small; <br />
          LGG: need a longer follow-up for OS and DSS; <br />
          LIHC: need a longer follow-up DSS; <br />
          MESO: sample size for DFI is small; <br />
          PCPG: need a longer follow-up for OS, DSS, DFI, and PFI; number of events is small; <br />
          PRAD: need a longer follow-up for OS and DSS;<br />
          READ: need a longer follow-up for OS, DSS, and DFI; number of events for DFI is too small; <br />
          TGCT: number of events is small for OS and DSS; need a longer follow-up; <br />
          THCA: number of events is small for OS and DSS; need a longer follow-up; <br />
          THYM: number of events is too small for OS and DSS; need a longer follow-up; <br />
          UCS: sample size is small.<br />
        </p>
      </ul>
      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including table and figure.</p>
      <ul>
        <li>The result table:</li>
        <p>
          Presents detailed information about Cancer type, Gene symbol, Survival type, Hazard Ratio, Cox P value, Logrank P value, Higher
          risk of death. Survival type including overall survival(OS), progression free survival(PFS), disease specific survival(DSS), and
          disease free survival(DFI). When the
          <span class="phighlight">Hazard ratio</span> of Higher GSVA group compared with Lower GSVA group is
          <span class="phighlight">greater than 1</span>, Higher GSVA group has higher risk of death, else Lower GSVA group has higher risk
          of death.
        </p>
        <li>GSCA provides result figures including:</li>
        <ul>
          <li>Bubble plot:</li>
          <p>
            Presents the Hazard ratio and Cox p value though bubble color and size. The row is the survival type and the column is the
            selected cancer types. The bubble color from blue to red represents the hazard ratio from low to high; the bubble size is
            positively correlate with the Cox P value significance. The black outline border of bubbles indicates Cox P value ≤ 0.05.
          </p>
          <li>Kaplan-Meier curves:</li>
          <p>
            By clicking buttons in table result, GSCA draws Kaplan-Meier curves to compare the survival between high and low GSVA score in
            the specific cancer.
          </p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
