<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title>Survival</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="!dataSourceSurvivalLoading; else loading"></ng-container>

    <mat-form-field>
      <input matInput placeholder="Input target gene" (keyup)="applyFilter($event)" #inputSurvival />
      <button mat-icon-button color="warn" matPrefix>
        <mat-icon style="font-size: 25px">search</mat-icon>
      </button>
    </mat-form-field>

    <mat-table [dataSource]="dataSourceSurvival" matSort>
      <ng-container matColumnDef="cancertype">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cancer types</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.cancertype }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Gene symbol</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.symbol }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pval">
        <mat-header-cell *matHeaderCellDef mat-sort-header>P value</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.pval }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="worse_group">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Higher risk of death</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.higher_risk_of_death }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsSurvival"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsSurvival"></mat-row>
    </mat-table>
    <mat-paginator #paginatorSurvival [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>

<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayout="row" fxLayoutGap="10px">
  <mat-card-header>
    <mat-card-title>Profile of the survival of gene expression.</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img [src]="this.survivalImage" alt="survivalplot" *ngIf="!survivalImageLoading; else loading" height="600px" />
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
</ng-template>
