<div fxLayout="row" (click)="isExpanded = !isExpanded">
  <button mat-flat-button style="margin: 10px">
    <img [src]="assets + '/imgs/logo.png'" alt="EVA" />
  </button>
  <h1 *ngIf="isExpanded">GSCA</h1>
</div>

<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
    <mat-icon mat-list-icon color="primary">home</mat-icon>
    <h4 style="font-weight: bold" mat-line *ngIf="isExpanded">Home</h4>
  </a>
  <a mat-list-item routerLink="/expression" routerLinkActive="list-item-active">
    <mat-icon mat-list-icon color="primary">how_to_reg</mat-icon>
    <h4 style="font-weight: bold" mat-line *ngIf="isExpanded">Expression</h4>
  </a>
  <a mat-list-item routerLink="/immune" routerLinkActive="list-item-active">
    <mat-icon mat-list-icon color="primary">tour</mat-icon>
    <h4 style="font-weight: bold" mat-line *ngIf="isExpanded">Immune</h4>
  </a>
  <a mat-list-item routerLink="/mutation" routerLinkActive="list-item-active">
    <mat-icon mat-list-icon color="primary">touch_app</mat-icon>
    <h4 style="font-weight: bold" mat-line *ngIf="isExpanded">Mutation</h4>
  </a>
  <a mat-list-item routerLink="/drug" routerLinkActive="list-item-active">
    <mat-icon mat-list-icon color="primary">medical_services</mat-icon>
    <h4 style="font-weight: bold" mat-line *ngIf="isExpanded">Drug</h4>
  </a>
  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/document" routerLinkActive="list-item-active">
    <mat-icon mat-list-icon color="primary">book_marks</mat-icon>
    <h4 style="font-weight: bold" mat-line *ngIf="isExpanded">Document</h4>
  </a>
  <a mat-list-item routerLink="/contact" routerLinkActive="list-item-active">
    <mat-icon mat-list-icon color="primary">contacts</mat-icon>
    <h4 style="font-weight: bold" mat-line *ngIf="isExpanded">Contact</h4>
  </a>

  <mat-divider></mat-divider>
  <a mat-list-item href="http://bioinfo.life.hust.edu.cn/web/GSCALite/" target="_blank" routerLinkActive="list-item-active">
    <mat-icon mat-list-icon color="primary">archive</mat-icon>
    <h4 style="font-weight: bold" mat-line *ngIf="isExpanded">GSCALite (old version)</h4>
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
