<div fxLayout="column" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">Expression</h1>
    <p>Associations of single gene expression and gene set enrichment score with clinical outcomes.</p>
  </div>

  <div fxFlex fxLayout="column" fxLayoutGap="10px" class="not-float">
    <app-search-box fxFlex ($searchSelected)="showContent($event)" [showList]="showList"></app-search-box>

    <mat-tab-group *ngIf="showList.showContent" animationDuration="0ms">
      <ng-container *ngIf="showList.showContent && showList.showDEG; else empty">
        <mat-tab label="Differential expression">
          <div fxFlex="grow">
            <app-deg
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-deg>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showSurvival; else empty">
        <mat-tab label="Expression & Survival">
          <div fxFlex="grow">
            <app-survival
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-survival>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showStage; else empty">
        <mat-tab label="Expression & Stage">
          <div fxFlex="grow">
            <app-stage
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-stage>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showSubtype; else empty">
        <mat-tab label="Expression & Subtype">
          <div fxFlex="grow">
            <app-subtype
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-subtype>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showPpar; else empty">
        <mat-tab label="Expression & Pathway activity">
          <div fxFlex="grow">
            <app-ppar
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-ppar>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showGSEA; else empty">
        <mat-tab label="GSEA">
          <div fxFlex="grow">
            <app-gsea
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-gsea>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showGSVA; else empty">
        <mat-tab label="Differential GSVA">
          <div fxFlex="grow">
            <app-gene-set
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            >
            </app-gene-set>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showGSVASurvival; else empty">
        <mat-tab label="GSVA & Survival">
          <div fxFlex="grow">
            <app-gsva-survival
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            >
            </app-gsva-survival>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showGSVAStage; else empty">
        <mat-tab label="GSVA & Stage">
          <div fxFlex="grow">
            <app-gsva-stage
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            >
            </app-gsva-stage>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showGSVASubtype; else empty">
        <mat-tab label="GSVA & Subtype">
          <div fxFlex="grow">
            <app-gsva-subtype
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            >
            </app-gsva-subtype>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showGSVARPPA; else empty">
        <mat-tab label="GSVA & pathway activity">
          <div fxFlex="grow">
            <app-gsva-rppa
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            >
            </app-gsva-rppa>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

    <ng-template #loading>
      <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
    </ng-template>
    <ng-template #empty></ng-template>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
