<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title>Update log</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [multiple]="false">
      <ul>
        <li><span class="blue">2022-9-28</span></li>
        <p>Added sample count information in cancer type selection box of Expression module.</p>
        <br />

        <li><span class="blue">2022-9-27</span></li>
        <p>Added a prompt of quick entrance of biological pathway databases to get gene sets.</p>
        <br />

        <li><span class="blue">2022-9-26</span></li>
        <p>Corrected grammar errors.</p>
        <p>Fixed bugs.</p>
        <p>All tables were sorted.</p>
      </ul>
    </mat-selection-list>
  </mat-card-content>
  <app-expended-log fxLayout="row" fxLayout.lt-lg="column" fxLayoutWrap fxLayoutAlign="center"></app-expended-log>
</mat-card>
