<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title>Update log</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [multiple]="false">
      <ul>
        <li><span class="blue">2023-4-4</span></li>
        <p>Optimized the figure that showing the trend of gene expression with stages.</p>
        <br />

        <li><span class="blue">2023-3-23</span></li>
        <p>The method of gene ranking in the figure showing drug-gene corr elation was added to the help page of Drug module.</p>
        <br />

        <li><span class="blue">2023-2-2</span></li>
        <p>Fixed the bugs because of server maintenance and restart.</p>
        <br />
      </ul>
    </mat-selection-list>
  </mat-card-content>
  <app-expended-log fxLayout="row" fxLayout.lt-lg="column" fxLayoutWrap fxLayoutAlign="center"></app-expended-log>
</mat-card>

<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title>Cite us</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [multiple]="false">
      <ul>
        <li><span class="blue">2022-11-21</span></li>
        <p>
          Chun-Jie Liu, Fei-Fei Hu, Gui-Yan Xie, Ya-Ru Miao, Xin-Wen Li, Yan Zeng, An-Yuan Guo. GSCA: an Integrated Platform for Gene Set
          Cancer Analysis at Genomic, Pharmacogenomic, and Immunogenomic Levels. Briefings in bioinformatics, 2022, bbac558.
          <a
            href="https://academic.oup.com/bib/advance-article-abstract/doi/10.1093/bib/bbac558/6957252?redirectedFrom=fulltext"
            target="_blank"
            >Click here to read the article</a
          >
        </p>
        <br />

        <li><span class="blue">2018-11-01</span></li>
        <p>
          Chun-Jie Liu, Fei-Fei Hu, Meng-Xuan Xia, Leng Han, Qiong Zhang, An-Yuan Guo. GSCALite: A Web Server for Gene Set Cancer Analysis.
          Bioinformatics, 2018, 34(21): 3771–72.
          <a href="https://academic.oup.com/bioinformatics/article/34/21/3771/5001392?login=false" target="_blank"
            >Click here to read the article</a
          >
        </p>
        <br />
      </ul>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
