<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="pred">info</mat-icon>Click here for a detailed description of the methods and results
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        For GSEA (Gene Set Enrichment Analysis) analysis, GSCA gives the degree to which the inputted gene set is overrepresented at the top
        or bottom of all genes ranked by <span class="phighlight">gene expression fold change</span> between tumor and normal samples. We
        performed GSEA calculation based on R package fgsea. Please find detailed information about GSEA
        <a href="https://www.gsea-msigdb.org/gsea/doc/GSEAUserGuideFrame.html?Interpreting_GSEA" target="_blank">here</a>.
      </p>
      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including the tables and figures.</p>
      <ul>
        <li>Table:</li>
        <p>GSCA presents detailed information about Cancer type, ES, NES, P value and P adj.</p>
        <ul>
          <li>ES</li>
          <p>
            Enrichment score, which reflects the degree to which a gene set is overrepresented at the top (ES>0) or bottom (ES<0) of a
            ranked list of genes. In GSCA, the
            <span class="phighlight">list of genes include all genes ranked by fold changes.</span>
            A <span class="phighlight">positive</span> ES indicates gene set enrichment at the <span class="phighlight">top</span> of the
            ranked list (<span class="phighlight">up-regulated</span>); a <span class="phighlight">negative</span> ES indicates gene set
            enrichment at the <span class="phighlight">bottom</span> of the ranked list (<span class="phighlight">down-regulated</span>).
          </p>
          <li>NES</li>
          <p>
            Normalized enrichment score, is the primary statistic for examining gene set enrichment results. By normalizing the enrichment
            score, GSEA accounts for differences in <span class="phighlight">gene set size</span> and in
            <span class="phighlight">correlations between gene sets and the expression dataset</span>; therefore, the NES can be used to
            <span class="phighlight">compare analysis results across gene sets</span>.
          </p>
          <li>P adj.</li>
          <p>Adjusted P value or FDR (false discovery rate).</p>
        </ul>
        <li>GSCA provides result figures, including:</li>
        <ul>
          <li>Bar plot:</li>
          <p>
            Bar plot gives the distribution of enrichment score of inputted gene set in selected cancer types. The bar color from white to
            red represents the significance of FDR.
          </p>
          <li>Enrichment plot:</li>
          <p>
            By clicking any one button in the table, provides a graphical view of the enrichment score for a gene set. The top portion of
            the plot shows the running ES for the gene set as the analysis walks down the ranked list. The score at the peak of the plot
            (the score
            <span class="phighlight">furthest from 0.0</span>) is the ES for the gene set. Gene sets with a distinct peak at the
            <span class="phighlight">beginning</span> or <span class="phighlight">end</span> of the ranked list are generally
            <span class="phighlight">the most interesting</span>.
          </p>
          <p>1. The middle portion of the plot shows where the members of the gene set appear in the ranked list of genes.</p>
          <p>
            2. The leading edge subset of a gene set is the subset of members that contribute most to the ES. For a positive ES, the leading
            edge subset is the set of members that appear in the ranked list prior to the peak score. For a negative ES (such as the one
            shown here), it is the set of members that appear subsequent to the peak score.
          </p>
          <div fxLayout="row" fxLayoutAlign="center center">
            <img mat-card-image [src]="'/assets/imgs/doc_pic/' + 'GSEA_single.png'" alt="gseasingle" />
          </div>
          <p>
            3. The bottom portion of the plot shows the value of the ranking metric as you move down the list of ranked genes. The ranking
            metric measures a gene’s correlation with a phenotype. The value of the ranking metric goes from positive to negative as you
            move down the ranked list. A positive value indicates correlation with the first phenotype and a negative value indicates
            correlation with the second phenotype. For continuous phenotypes (time series or gene of interest), a positive value indicates
            correlation with the phenotype profile and a negative value indicates no correlation or inverse correlation with the profile.
          </p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
