<div fxLayout="column" fxFill>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="not-float">
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxFlex="grow">
        <app-feature-discription
          fxLayout="row"
          fxLayout.lt-lg="column"
          fxLayoutGap="10px"
          fxLayoutWrap
          fxLayoutAlign="center"
        ></app-feature-discription>
      </div>

      <div fxFlex="grow">
        <app-search-box fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutWrap fxLayoutAlign="center"></app-search-box>
      </div>

      <div fxFlex="grow">
        <app-citation fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutWrap fxLayoutAlign="center"></app-citation>
      </div>

      <mat-card fxFlex appMaterialElevation defaultElevation="2" raisedElevation="15">
        <mat-card-header>
          <mat-card-title>Work Flow </mat-card-title>
        </mat-card-header>
        <br />
        <div fxFlex="grow" fxLayoutAlign="center center">
          <img mat-card-image [src]="assets + '/imgs/' + 'Figure1.png'" alt="workflow" />
        </div>
      </mat-card>

      <mat-card fxFlex appMaterialElevation defaultElevation="2" raisedElevation="15">
        <mat-card-header>
          <mat-card-title>Modules </mat-card-title>
        </mat-card-header>
        <br />
        <div fxFlex="grow" fxLayoutAlign="center center">
          <img mat-card-image [src]="assets + '/imgs/' + 'figure2.png'" alt="modules" />
        </div>
      </mat-card>
    </div>
  </div>
  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
