<ng-container *ngIf="showSurvivalTable">
  <mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>Survival</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <ng-container *ngIf="!dataSourceSurvivalLoading; else loading"></ng-container>

      <mat-form-field>
        <input matInput placeholder="Input target gene" (keyup)="applyFilter($event)" #inputSurvival />
        <button mat-icon-button color="warn" matPrefix>
          <mat-icon style="font-size: 25px">search</mat-icon>
        </button>
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceSurvival" multiTemplateDataRows matSort>
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumnsSurvival; index as ind">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ displayedColumnsSurvivalHeader[ind] }}</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="column === 'symbol'; then btn; else plain"></ng-container>
            <ng-template #btn>
              <button (click)="expandDetail(element, column)">
                {{ element[column] }}
              </button>
            </ng-template>
            <ng-template #plain>
              {{ column === 'worse_group' || column === 'cancertype' ? element[column] : (element[column] | number: '1.2-2') }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colSpan]="displayedColumnsSurvival.length">
            <div class="example-element-detail" [@detailExpand]="triggerDetail(element)">
              <ng-container *ngIf="survivalSingleGeneImageLoading; then loading"></ng-container>
              <img [src]="survivalSingleGeneImage" *ngIf="showSurvivalSingleGeneImage" height="600px" />
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSurvival"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumnsSurvival"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <mat-paginator #paginatorSurvival [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="showSuvivalImage">
  <mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>Profile of the survival of gene expression.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img [src]="this.survivalImage" alt="survivalplot" *ngIf="!survivalImageLoading; else loading" height="600px" />
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
</ng-template>
<ng-template #empty></ng-template>
