<div fxLayout="column" fxLayoutGap="10px" fxFill>
  <app-doc-survival fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutWrap fxLayoutAlign="center"> </app-doc-survival>
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutWrap fxLayoutAlign="center">
    <ng-container *ngIf="showSurvivalTable">
      <mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
        <mat-card-header>
          <mat-card-title>Table: survival difference between high and low gene expression groups</mat-card-title>
        </mat-card-header>

        <ng-container *ngIf="!dataSourceSurvivalLoading; else loading"></ng-container>

        <mat-form-field>
          <input matInput placeholder="Search" (keyup)="applyFilter($event)" #inputSurvival />
          <button mat-icon-button color="warn" matPrefix>
            <mat-icon style="font-weight: bolder">search</mat-icon>
          </button>
        </mat-form-field>
        <button class="export-container" mat-raised-button color="primary" (click)="exportExcel()">Export Table</button>

        <table mat-table [dataSource]="dataSourceSurvival" multiTemplateDataRows matSort>
          <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumnsSurvival; index as ind">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ displayedColumnsSurvivalHeader[ind] }}</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="column === 'symbol'; then btn; else plain"></ng-container>
              <ng-template #btn>
                <button mat-raised-button class="expand-button" (click)="expandDetail(element, column)">
                  {{ element[column] }}
                </button>
              </ng-template>
              <ng-template #plain>
                {{
                  column === 'higher_risk_of_death' || column === 'cancertype' || column === 'sur_type'
                    ? element[column]
                    : (element[column] | number: '1.2-2')
                }}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colSpan]="displayedColumnsSurvival.length">
              <div class="example-element-detail" [@detailExpand]="triggerDetail(element)">
                <ng-container *ngIf="survivalSingleGeneImageLoading; then loading"></ng-container>
                <ng-container *ngIf="showSurvivalSingleGeneImage">
                  <a
                    [href]="survivalSingleGenePdfURL"
                    target="_blank"
                    mat-button
                    mat-mini-fab
                    color="warn"
                    arial-label="download"
                    class="download-button"
                  >
                    <mat-icon>cloud_download</mat-icon>
                  </a>
                  <img [src]="survivalSingleGeneImage" loading="lazy" />
                </ng-container>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSurvival"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumnsSurvival"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator #paginatorSurvival [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="showSuvivalImage">
      <mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
        <mat-card-header>
          <mat-card-title>Figure: summary the survival difference between high and low gene expression groups</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="!survivalImageLoading; else loading">
            <a
              [href]="survivalImagePdfURL"
              target="_blank"
              mat-button
              mat-mini-fab
              color="warn"
              arial-label="download"
              class="download-button"
            >
              <mat-icon>cloud_download</mat-icon>
            </a>
            <img [src]="survivalImage" alt="survivalplot" loading="lazy" />
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
  <ng-template #loading>
    <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
  </ng-template>
  <ng-template #empty></ng-template>
</div>
