<div fxLayout="column" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">Drug sensitivity</h1>
    <p>Correlation between gene expression and drug sensitivity.</p>
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="10px" class="not-float">
    <app-search-box fxFlex ($searchSelected)="showContent($event)" [showList]="showList"></app-search-box>
    <mat-tab-group *ngIf="showList.showContent" animationDuration="0ms">
      <ng-container *ngIf="showList.showContent && showList.showGDSC; else empty">
        <mat-tab label="GDSC drug sensitivity & Expression">
          <div fxFlex="grow">
            <app-gdsc
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-gdsc>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showCTRP; else empty">
        <mat-tab label="CTRP drug sensitivity & Expression">
          <div fxFlex="grow">
            <app-ctrp
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-ctrp>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

    <ng-template #loading>
      <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
    </ng-template>

    <ng-template #empty></ng-template>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
