<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="pred">info</mat-icon>Click here for the detailed description of methods and results.
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        For expression and stage analysis, GSCA used 4 types of stage (pathologic, clinical, masaoka (for THYM only), and igcccg stage (for
        TGCT only)) data of 9478 tumor samples from 27 cancer types (ACC, BLCA, BRCA, CESC, CHOL, COAD, DLBC, ESCA, HNSC, KICH, KIRC, KIRP,
        LIHC, LUAD, LUSC, MESO, OV, PAAD, READ, SKCM, STAD, TGCT, THCA, THYM, UCEC, UCS, UVM). mRNA expression and clinical stage data were
        merged by sample barcode. The stage subgroup must have at least 5 samples. GSCA compared the GSVA score among groups through
        <span class="phighlight">Wilcoxon test (number of stage groups == 2)</span> and
        <span class="phighlight">ANOVA test (number of stage groups > 2)</span>.
      </p>
      <p>The pathologic stage, clinical stage, and masaoka stage (for THYM only) classify samples into Stage I, II, III, and IV.</p>
      <p>Stage I includes Stage I, IA, IB and IC.</p>
      <p>Stage II includes Stage II, IIA, IIB and IIC.</p>
      <p>Stage III includes Stage III, IIIA, IIIB and IIIC.</p>
      <p>Stage IV includes Stage IV, IVA, IVB and IVC.</p>
      <p>
        The igcccg(The International Germ Cell Cancer Collaborative Group) stage (for TGCT only) classify samples into good(n=32),
        intermediate(n=9), and poor(n=2).
      </p>
      <p>Tend analysis was performed by Mann-Kendall Trend Test.</p>
      <p>
        Note that the p value of Mann-Kendall test for trend analysis is depend on the number of subjects,
        <span class="phighlight">here is the number of stages (n=4)</span>, which is <span class="phighlight">too small</span> to get a
        significant P value (<0.05). A P value of <span class="phighlight">0.09 </span>indicates the most extreme situation, which
        continuous reduce or increase. Therefore, the P value of trend test is for reference only.
      </p>

      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including the tables and figures.</p>

      <ul>
        <li>Table:</li>
        <p>
          The table presents detailed information about Cancer type, Gene symbol, Stage type, Stage I (mean expr./n), Stage II (mean
          expr./n), Stage III (mean expr./n), Stage IV (mean expr./n), P value and FDR. The stage I consists of stage IA, IB and IC et al.,
          stage II, III and IV are grouped in a similar way. Stage types include pathologic, clinical, masaoka (for THYM only), and igcccg
          stage (for TGCT only).
        </p>
        <p>
          When TGCT cancer type was selected, the stage type good, intermediate, and poor are shown as Stage I, II, and III, respectively.
        </p>

        <li>GSCA provides result figures, including:</li>
        <ul>
          <li>Bubble plot:</li>
          <p>
            This plot presents the FDR though bubble color and size. The row is the gene set symbol and the column is the selected cancer
            types. The bubble color from blue to red represents the significance of FDR; the bubble size is positively correlate with the
            statistical significance. The black outline border of bubbles indicates FDR ≤ 0.05.
          </p>

          <li>Heat map:</li>
          <p>This plot presents the log2 RSEM expression of each gene in each stage.</p>

          <li>Trend plot:</li>
          <p>
            This plot presents the trend of gene expression from stage I to stage IV. Trend line color from blue to red represents the
            tendency from fall to rise.
          </p>

          <li>Box plot:</li>
          <p>By clicking any one button in the table, GSCA would draw the boxplot for the stages of specific gene in specific cancer.</p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
