<footer>
  <mat-divider></mat-divider>
  <div>
    <p>
      <strong>Copyright &copy;</strong>
      <a href="http://bioinfo.life.hust.edu.cn" target="_blank">Guo Lab</a>,
      <a href="http://life.hust.edu.cn" target="_blank">College of Life Science and Technology</a>,
      <a href="http://www.hust.edu.cn" target="_blank">HUST</a>, China.
      <br />
      <a href="https://cjy0219.github.io/cjy.github.io/" target="_blank">Hu Lab</a>,
      <a href="https://www.wust.edu.cn/yxy/main.htm" target="_blank">School of Medicine</a>,
      <a href="https://www.wust.edu.cn/" target="_blank">WUST</a>, China.
    </p>
    <p>
      Any comments or suggestions, please
      <a routerLink="/contact">contact us.</a>
    </p>
    <p>
      <span #revolvermaps class="revolvermaps"></span>
      <span #cloudfront class="cloudfront">
        <div class="altmetric-embed" data-badge-type="donut" data-altmetric-id="42431062"></div>
      </span>
    </p>
  </div>
</footer>
