<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-content>
    <ng-container *ngFor="let citation of citations">
      <dl>
        <dt class="dt">Citation:</dt>
        <dd class="dd">
          {{ citation.authors }}. ({{ citation.year }}). <a [href]="citation.link" target="_blank">{{ citation.title }}. </a
          ><span class="publication">{{ citation.publication }}</span
          >.
        </dd>
      </dl>
    </ng-container>
  </mat-card-content>
</mat-card>
