<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Click here for the detailed description of methods and results </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        We collected the IC50 of 481 small molecules in 1001 cell lines, and its corresponding mRNA gene expression from Genomics of
        Therapeutics Response Portal (CTRP). The mRNA expression data and drug sensitivity data were merged. Pearson correlation analysis
        was performed to get the correlation between gene mRNA expression and drug IC50. P-value was adjusted by FDR.
      </p>

      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including table and figure.</p>

      <ul>
        <li>The result table:</li>
        <p>Presents detailed information about Gene symbol, Drug name, Correlation and FDR.</p>

        <li>GSCA provides result figures including:</li>
        <ul>
          <li>Bubble plot:</li>
          <p>
            GSCA provides bubble plot to summarize the correlations between inputted genes and drugs. Only when a gene associated with at
            least one drug will be obtained. Also, only when a drug associated with at least one gene will be obtained. Blue bubbles
            represent negative correlations, red bubbles represent positive correlations, the deeper of color, the higher of the
            correlation. Bubble size is positively correlate with the FDR significance. Black outline border indicates FDR ≤ 0.05.
          </p>
          <p>
            Note that <span class="phighlight">GSCA only draws plot for the top 30 ranked drugs</span>. The drugs are ranked by the
            intergrated level of correlation coeffient and FDR of searched genes.
          </p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
