<div fxLayout="column" fxLayoutGap="10px" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">Expression</h1>
  </div>

  <div fxFlex fxLayout="column" fxLayoutGap="10px" class="not-float">
    <div fxFlex="grow" fxLayout="row" style="border: 1px rebeccapurple solid">
      <app-search-box fxFlex ($searchSelected)="showContent($event)"></app-search-box>
    </div>

    <div fxFlex="grow" fxLayout="row" style="border: 1px rebeccapurple solid">
      <app-color-diy></app-color-diy>
    </div>

    <div fxFlex="grow" fxLayout="row" style="border: 1px rebeccapurple solid">
      <ng-container *ngIf="showDEG; else empty">
        <app-deg [searchTerm]="searchTerm"></app-deg>
      </ng-container>
    </div>

    <ng-template #loading>
      <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
    </ng-template>
    <ng-template #empty></ng-template>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
