<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutWrap fxLayoutAlign="center">
    <div fxFlex>
      <mat-form-field appearance="outline" class="search-box">
        <mat-label>Input your interested gene set</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="inputString"
          [ngModelOptions]="{ standalone: true }"
          (keydown.enter)="submit(inputString)"
        />
        <button mat-button *ngIf="inputString" mat-icon-button color="primary" matPrefix (click)="submit(inputString)">
          <mat-icon style="font-weight: bolder">search</mat-icon>
        </button>
        <button mat-button *ngIf="inputString" mat-icon-button color="primary" matSuffix (click)="clear()">
          <mat-icon style="font-weight: bolder">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field appearance="outline" class="search-box">
        <mat-label>Select cancer types</mat-label>
        <mat-select [formControl]="cancerTypeSelected" multiple>
          <mat-select-trigger>
            {{ cancerTypeSelected.value ? cancerTypeSelected.value[0] : '' }}
            <span *ngIf="cancerTypeSelected.value?.length > 1">
              (+{{ cancerTypeSelected.value.length - 1 }} {{ cancerTypeSelected.value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <!-- <mat-form-field>
            <input matInput placeholder="Search cancer types" (keyup)="applyFilterCancer($event)" #inputCancer />
            <button mat-icon-button color="warn" matPrefix>
              <mat-icon style="font-size: 25px">search</mat-icon>
            </button>
          </mat-form-field> -->
          <mat-option *ngFor="let cancerType of cancerTypeList" [value]="cancerType.shortname">
            ({{ cancerType.shortname }}) {{ cancerType.fullname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutWrap fxLayoutAlign="center">
    <ng-container>
      <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayout="column" fxLayoutGap="10px">
        <h3>Single gene level analysis</h3>
        <p>This section presents the analysis based on single gene expression level.</p>
        <h4>Please select analysis:</h4>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showDEG">Differential expression</mat-checkbox></dd>
        </dl>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showSurvival">Expression & survival</mat-checkbox></dd>
        </dl>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showSubtype">Expression & subtype</mat-checkbox></dd>
        </dl>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showStage">Expression & stage</mat-checkbox></dd>
        </dl>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showPpar">Expression & pathwawy activity</mat-checkbox></dd>
        </dl>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayout="column" fxLayoutGap="10px">
        <h3>Gene set enrichment analysis</h3>
        <p>This section presents the analysis based on gene set enrichment analysis.</p>
        <h4>Please select analysis:</h4>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showGSEA">GSEA score</mat-checkbox></dd>
        </dl>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showPathwayEnrichment">Pathway enrichment</mat-checkbox></dd>
        </dl>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showGSVAScore">GSVA score</mat-checkbox></dd>
        </dl>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayout="column" fxLayoutGap="10px">
        <h3>Gene set level analysis</h3>
        <p>This section presents the analyses based on GSVA (Gene Set Variation Analysis) score.</p>
        <h4>Please select analysis:</h4>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showGSVA">Differential GSVA</mat-checkbox>
          </dd>
        </dl>
        <dl>
          <dd><mat-checkbox [(ngModel)]="showList.showGSVASurvival">GSVA & survival</mat-checkbox></dd>
        </dl>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showGSVASubtype">GSVA & subtype</mat-checkbox>
          </dd>
        </dl>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showGSVAStage">GSVA & stage</mat-checkbox>
          </dd>
        </dl>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showGSVARPPA">GSVA & pathway activity</mat-checkbox>
          </dd>
        </dl>
      </mat-card>
    </ng-container>
  </div>
  <div fxFlex>
    <mat-hint>
      <mat-chip-list>
        <mat-chip color="warn" selected (click)="submit(inputString)">Search</mat-chip>
        <mat-chip color="primary" selected (click)="showExample()">Example</mat-chip>
      </mat-chip-list>
    </mat-hint>
  </div>
</mat-card>
