
<h2 style="text-align:left">Contact</h2>

<div class="card">
  <img src="assets + '/avatars/' + author.avatar" [alt]="author.avatar" style="width:50%">
  <div class="container">
    <h1>{{author.name}}</h1>
    <p class="title">{{author.title}}</p>
    <p>{{author.department}}</p>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a> 
   </div>
   <p><button>Contact</button></p>
  </div>
</div>
