<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutWrap fxLayoutAlign="center">
    <div fxFlex>
      <mat-form-field appearance="outline" class="search-box">
        <mat-label>Input your interested gene set</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="inputString"
          [ngModelOptions]="{ standalone: true }"
          (keydown.enter)="submit(inputString)"
        />
        <button mat-button *ngIf="inputString" mat-icon-button color="primary" matPrefix (click)="submit(inputString)">
          <mat-icon style="font-weight: bolder">search</mat-icon>
        </button>
        <button mat-button *ngIf="inputString" mat-icon-button color="primary" matSuffix (click)="clear()">
          <mat-icon style="font-weight: bolder">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field appearance="outline" class="search-box">
        <mat-label>Select cancer types</mat-label>
        <mat-select [formControl]="cancerTypeSelected" multiple>
          <mat-select-trigger>
            {{ cancerTypeSelected.value ? cancerTypeSelected.value[0] : '' }}
            <span *ngIf="cancerTypeSelected.value?.length > 1">
              (+{{ cancerTypeSelected.value.length - 1 }} {{ cancerTypeSelected.value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let cancerType of cancerTypeList" [value]="cancerType.shortname">
            ({{ cancerType.shortname }}) {{ cancerType.fullname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutWrap fxLayoutAlign="center">
    <ng-container>
      <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayout="column" fxLayoutGap="10px">
        <h3>Single gene level analysis</h3>
        <p>This section presents the correlation between immune infiltrates with single gene expression, SNV, CNV and methylation.</p>
        <h4>Please select analysis type(s):</h4>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showImmExpr">Immune infiltrates & mRNA expression</mat-checkbox>
          </dd>
        </dl>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showImmSnv">Immune infiltrates & SNV</mat-checkbox>
          </dd>
        </dl>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showImmCnv">Immune infiltrates & CNV</mat-checkbox>
          </dd>
        </dl>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showImmMethy">Immune infiltrates & Methylation</mat-checkbox>
          </dd>
        </dl>
      </mat-card>
    </ng-container>

    <ng-container>
      <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayout="column" fxLayoutGap="10px">
        <h3>Geneset level analysis</h3>
        <p>
          This section presents the correlation between immune infiltrates with gene set expression score (GSVA score), gene set CNV and
          gene set SNV.
        </p>
        <h4>Please select analysis type(s):</h4>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showImmExprGsva">Immune infiltrates & GSVA score</mat-checkbox>
          </dd>
        </dl>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showImmSnvGsva">Immune infiltrates & Gene set SNV</mat-checkbox>
          </dd>
        </dl>
        <dl>
          <dd>
            <mat-checkbox [(ngModel)]="showList.showImmCnvGsva">Immune infiltrates & Gene set CNV</mat-checkbox>
          </dd>
        </dl>
      </mat-card>
    </ng-container>
  </div>
  <div fxFlex>
    <mat-hint>
      <mat-chip-list>
        <mat-chip color="warn" selected (click)="submit(inputString)">Search</mat-chip>
        <mat-chip color="primary" selected (click)="showExample()">Example</mat-chip>
      </mat-chip-list>
    </mat-hint>
  </div>
</mat-card>
