<mat-card appMaterialElevation defaultElevation="4" raisedElevation="15">
  <mat-card-header>
    <mat-card-title> {{ author.name }}, {{ author.title }} </mat-card-title>
    <mat-card-subtitle><canvas #canvasEl height="30px"></canvas> </mat-card-subtitle>
  </mat-card-header>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img mat-card-image [src]="assets + '/avatars/' + author.avatar" [alt]="author.avatar" />
  </div>
  <mat-card-content>
    <p>{{ author.department1 }}</p>
    <p>{{ author.department2 }}</p>
    <p>{{ author.department3 }}</p>
  </mat-card-content>
</mat-card>
