<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title>GSCA Introduction </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="home">
      <span class="strong">G</span>ene <span class="strong">S</span>et <span class="strong">C</span>ancer
      <span class="strong">A</span>nalysis (<span class="strong">GSCA</span>) an integrated database for genomic and immunogenomic gene set
      cancer analysis.
    </p>

    <p class="home">
      The alterations of DNA, RNA and immune microenvironment could contribute to the cancer initiation, progress, diagnosis, prognosis,
      therapy. In bio-big data era, individual causal gene signal could be masked by massive background noises. A set of genes or compiled
      gene set scores from multiple dimensional data across a large number patients per stage could represent a snap shot of the underlying
      cancer process.
    </p>

    <p class="home">
      In this updated <span class="strong">GSCA</span>, we provide a series of services to perform gene set genomic (Expression, SNV, CNV
      and methylation) and immunogenomic (24 immune cells) analyses. Besides, combining clinical information and small molecular drugs, user
      could mine candidate biomarkers and valuable small drugs for better experimental design and further clinical trials. GSCA integrates
      over ten thousand genomic data in 33 cancer types from
      <a href="https://www.cancer.gov/about-nci/organization/ccg/research/structural-genomics/tcga" target="_blank">TCGA</a> and over 750
      small molecule drugs from <a href="http://www.cancerrxgene.org/" target="_blank">GDSC</a> and
      <a href="https://portals.broadinstitute.org/ctrp/" target="_blank">CTRP</a>. Immunogenomic analysis was performed through our
      <a href="http://bioinfo.life.hust.edu.cn/ImmuCellAI#!/" target="_blank">ImmuCellAI</a> with 24 immunes cells.
    </p>
  </mat-card-content>
</mat-card>

<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title>New Features </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let feature of features">
        <mat-icon mat-list-icon [color]="feature.color">{{ feature.type }}</mat-icon>
        <p>{{ feature.feature }}</p>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
