<div fxLayout="column" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">Immune infiltrates</h1>
    <p>Correlation between immune infiltrates and gene expression, SNV, CNV and methylation</p>
  </div>

  <div fxFlex fxLayout="column" fxLayoutGap="10px" class="not-float">
    <app-search-box ($searchSelected)="showContent($event)" [showList]="showList"></app-search-box>
    <mat-tab-group *ngIf="showList.showContent" animationDuration="0ms">
      <ng-container *ngIf="showList.showContent && showList.showImmExpr; else empty">
        <mat-tab label="Immune & Expression">
          <div fxFlex="grow">
            <app-immune-expr
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-immune-expr>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showImmSnv; else empty">
        <mat-tab label="Immune & SNV">
          <div fxFlex="grow">
            <app-immune-snv
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-immune-snv>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showImmCnv; else empty">
        <mat-tab label="Immune & CNV">
          <div fxFlex="grow">
            <app-immune-cnv
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-immune-cnv>
          </div>
        </mat-tab>
      </ng-container>
      <ng-container *ngIf="showList.showContent && showList.showImmMethy; else empty">
        <mat-tab label="Immune & Methylation">
          <div fxFlex="grow">
            <app-immune-methy
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-immune-methy>
          </div>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="showList.showContent && showList.showImmExprGsva; else empty">
        <mat-tab label="Immune & GSVA">
          <div fxFlex="grow">
            <app-immune-gsva
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-immune-gsva>
          </div>
        </mat-tab>
      </ng-container>
      <ng-container *ngIf="showList.showContent && showList.showImmCnvGsva; else empty">
        <mat-tab label="Immune & Gene set CNV">
          <div fxFlex="grow">
            <app-immune-cnv-gsva
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-immune-cnv-gsva>
          </div>
        </mat-tab>
      </ng-container>
      <ng-container *ngIf="showList.showContent && showList.showImmSnvGsva; else empty">
        <mat-tab label="Immune & Gene set SNV">
          <div fxFlex="grow">
            <app-immune-snv-geneset
              fxLayout="row"
              fxLayout.lt-lg="column"
              fxLayoutGap="10px"
              fxLayoutWrap
              fxLayoutAlign="center"
              [searchTerm]="searchTerm"
            ></app-immune-snv-geneset>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

    <ng-template #loading>
      <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
    </ng-template>
    <ng-template #empty></ng-template>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
