<mat-card fxFlex appMaterialElevation defaultElevation="0" raisedElevation="0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="pred">info</mat-icon> Click here for a detailed description of the methods and results.
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Methods</li>
      <p>
        We collected the IC50 of 265 small molecules in 860 cell lines and its corresponding mRNA gene expression from Genomics of Drug
        Sensitivity in Cancer (GDSC). The mRNA expression data and drug sensitivity data were merged. Pearson correlation analysis was
        performed to get the correlation between gene mRNA expression and drug IC50. P-value was adjusted by FDR.
      </p>

      <li>Interpretation</li>
      <p>GSCA provides two forms of results, including tables and figures.</p>

      <ul>
        <li>Table:</li>
        <p>The table presents detailed information about Gene symbol, Drug name, Correlation, and FDR.</p>

        <li>GSCA provides result figure:</li>
        <ul>
          <li>Bubble plot:</li>
          <p>
            GSCA provides a bubble plot to summarize the correlations between inputted genes and drugs. Only when a gene associated with at
            least one drug will be obtained. Also, only when a drug associated with at least one gene will be obtained. Blue bubbles
            represent negative correlations, red bubbles represent positive correlations, the deeper of color, the higher of the
            correlation. Bubble size is positively correlated with the FDR significance. The black outline border indicates FDR ≤ 0.05.
          </p>
          <p>
            Note that <span class="phighlight">GSCA only draws plot for the top 30 ranked drugs</span>. The drugs are ranked by the
            integrated level of correlation coefficient and FDR of searched genes. In detail, firstly, drug-gene pairs with an absolute
            correlation coefficient >0.1 and FDR<0.05 were remained. The -log10FDR and the absolute value of the correlation coefficient
            were then multiplied to calculate a score for each gene-drug pair. Finally, the sum of the scores was calculated for each drug.
            The top 30 drugs with the highest scores are presented in the figure.
          </p>
        </ul>
      </ul>
    </ul>
  </mat-expansion-panel>
</mat-card>
