mat-panel-title {
  color: black;
  font-weight: bolder;
  font-size: medium;
}
.pred {
  color: green;
}
mat-card-content {
  text-align: center;
}
mat-expansion-panel-header {
  background-color: thistle;
}
mat-expansion-panel {
  background-color: rgb(236, 228, 236);
}
li {
  font-weight: bold;
  font-size: large;
}
.lilight {
  font-size: medium;
  font-weight: normal;
}
p {
  text-align: justify;
  font-size: medium;
}
a {
  color: cornflowerblue;
}
mat-panel-description {
  font-size: large;
}
.phighlight {
  color: rgb(230, 20, 20);
  background-color: #f8f8f8;
}
