<div fxLayout="column" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">Terms</h1>
  </div>
  <h2>Terms of Use</h2>
  <div>
    <p>
      Extracellular Vesicle Atlas (EVAtlas) is a comprehensive database depositing expression profiles of seven types of ncRNAs maintained
      by An-Yuan Guo Bioinformatics Lab (Guo Lab). Guo Lab may, from time to time, update the content on
      <a href="http://bioinfo.life.hust.edu.cn/EVAtlas">http://bioinfo.life.hust.edu.cn/EVAtlas</a> (“Content”). Guo Lab makes no warranties
      or representations, express or implied, with respect to any of the Content, including as to the present accuracy, completeness,
      timeliness, adequacy, or usefulness of any of the Content. By using this website, you agree that Guo Lab will not be liable for any
      losses or damages arising from your use of or reliance on the Content, or other websites or information to which this website may be
      linked.
    </p>
    <p>
      EVAtlas is freely accessible for research use in an academic setting. You may view the Content solely for your own personal reference
      or use for research in an academic setting.
      <span style="font-weight: bold"
        >All academic research use of the Content must credit EVAtlas as the source of the Content and reference these Terms of Use</span
      >; outside of scientific publication, you may not otherwise redistribute or share the Content with any third party, in part or in
      whole, for any purpose, without the express permission of Guo Lab.
    </p>
    <p>
      Unless you have signed a license agreement with Guo Lab, you may not use any part of the Content for any other purpose, including:
      <li>use or incorporation into a commercial product or towards performance of a commercial service;</li>
      <li>research use in a commercial setting;</li>
      <li>use for patient services; or</li>
      <li>generation of reports in a hospital or other patient care setting.</li>
    </p>
    <p>
      You may not copy, transfer, reproduce, modify or create derivative works of EVAtlas for any commercial purpose without the express
      permission of Guo Lab. If you seek to use EVAtlas for such purposes, please request the license which best describes your anticipated
      use of EVAtlas below:
      <li>Research use in commercial setting</li>
      <li>Use in a commercial product</li>
      <li>Use for patient services or reports in a hospital setting</li>
    </p>
    <p>Please contact me at guoay@hust.edu.cn</p>
  </div>

  <div>
    <h1>使用条款</h1>
    <p>
      EVAtlas是一个综合性的数据库，储存了7种ncRNA的表达谱，由郭安源生物信息学实验室（Guo Lab）维护。Guo Lab可能不时地更新
      <a href="http://bioinfo.life.hust.edu.cn/EVAtlas">http://bioinfo.life.hust.edu.cn/EVAtlas</a>上的内容。Guo
      Lab对任何内容，包括对任何内容目前的准确性、完整性、及时性、充分性或有用性，不作任何明示或暗示的保证或陈述。通过使用本网站，您同意Guo
      Lab不对您因使用或依赖本网站的内容或本网站可能链接的其他网站或信息而引起的任何损失或损害承担责任。
    </p>
    <p>
      <span style="font-weight: bold">EVAtlas</span>可以在学术研究中免费使用。<span style="font-weight: bold"
        >您可以只为自己的个人参考或在学术环境中用于研究而查看内容，但对内容的所有学术研究使用必须将PEA作为内容的来源并引用文献和参考本使用条款；在科学出版之外，未经Guo
        Lab明确许可，您不得出于任何目的将内容的一部分或全部转发或与任何第三方分享。</span
      >
    </p>
    <p>
      除非您与Guo Lab签署了许可协议，否则您不得将内容的任何部分用于任何其他目的，包括：
      <li>使用或纳入商业产品或用于履行商业服务。</li>
      <li>在商业环境中的研究用途。</li>
      <li>用于病人服务</li>
      <li>在医院或其他病人护理环境中生成报告。</li>
    </p>
    <p>
      未经Guo
      Lab明确许可，您不得为任何商业目的复制、转让、重制、修改PEA或创造其衍生作品。如果您想将PEA用于上述目的，请申请最能说明您对PEA预期用途的许可。
      <li>在商业环境中的研究使用</li>
      <li>在一个商业产品中的使用</li>
      <li>在医院环境中用于病人服务或报告</li>
    </p>
    <p>请与我联系，guoay@hust.edu.cn</p>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
