<div fxFlex>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon class="pred">info</mat-icon> Click here to get all update logs </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <mat-selection-list [multiple]="false">
        <li><span class="blue">2022-9-26</span></li>
        <p>Corrected grammar errors.</p>
        <p>Fixed bugs.</p>
        <p>All tables were sorted.</p>
        <p>Searchable gene set size changed from 2-200 to 2-500.</p>
        <br />

        <li><span class="blue">2021-11-12</span></li>
        <p>Re-calculated methylation & survival results. DETAILS:</p>
        <p>Corrected several error results. The results after this update shall prevail.</p>
        <br />

        <li><span class="blue">2021-9-14</span></li>
        <p>Added DFS and DSS survival results. DETAILS:</p>
        <p>
          1) Used DFS and DSS data from
          <a href="https://www.cell.com/cell/abstract/S0092-8674(18)30229-0" target="_blank">Liu et al., Cell, 2018</a>.
        </p>
        <p>2) Supplemented DFS and DSS results.</p>
        <br />

        <li><span class="blue">2021-8-18</span></li>
        <p>Updated survival data and results. DETAILS:</p>
        <p>
          1) Used OS and PFS data from
          <a href="https://www.cell.com/cell/abstract/S0092-8674(18)30229-0" target="_blank">Liu et al., Cell, 2018</a>.
        </p>
        <p>2) Sample counts were updated.</p>
        <p>3) Re-calculated all results related to survival using updated survival data. The results after this update shall prevail.</p>
        <br />

        <li><span class="blue">2021-8-18</span></li>
        <p>Updated stage data and results. DETAILS:</p>
        <p>
          1) Added clinical, igcccg, and masaoka stage data from the TCGA database. The previous GSCA used only the pathologic stage for
          calculation.
        </p>
        <p>2) Supplemented stage results using clinical, igcccg, and masaoka stage data.</p>
      </mat-selection-list>
    </mat-card-content>
  </mat-expansion-panel>
</div>
