img {
  width: 50px;
}

h4 {
  color: black;
  font-weight: 600;
}

a.mat-list-item:hover {
  transition: 300ms;
  border-bottom: 2px solid #da4233;
  border-radius: 5px;
}

a.mat-list-item:focus {
  border-bottom: 2px solid #da4233;
}

.ev_pic {
  width: 270px;
  height: 150px;
}
